@model FribergCarRental.Models.Rental

@{
    ViewData["Title"] = "Ta bort bokning";
    ViewData["BackAction"] = "Index";
    ViewData["DeleteAction"] = "Delete";
    ViewData["ItemId"] = Model.Id;

    var details = new Dictionary<string, object>
    {
        { "Bokningsnummer", Model.Id },
        { "Startdatum", Model.RentalStart },
        { "Slutdatum", Model.RentalEnd },
        { "Bil-Id", Model.CarId },
        { "Kundnr", Model.CustomerId },
    };
}

<div class="container col-md-6">
    @Html.Partial("_DeleteCard", details)
</div>