@model FribergCarRental.ViewModels.RentalRecordViewModel

@{
    ViewData["Title"] = "Bokningsdetaljer";    
    ViewData["BackAction"] = "Index";
    ViewData["ItemId"] = Model.Rental.Id;

    var details = new Dictionary<string, object>
    {
        { "Bokningsnr", Model.Rental.Id },
        { "Status", Model.Rental.Status },
        { "Startdatum", Model.Rental.RentalStart },
        { "Slutdatum", Model.Rental.RentalEnd },
        { "Märke", Model.Rental.Car.Model },
        { "Total summa", $"{Model.TotalPrice} SEK" },
        { "Förnamn", Model.Rental.Customer.FirstName },
        { "Efternamn", Model.Rental.Customer.LastName },
        { "E-post", Model.Rental.Customer.Email },
        { "Kundnummer", Model.Rental.CustomerId },
    };
}

<div class="container col-md-6">
    @Html.Partial("_DetailsCard", details)
</div>