@model FribergCarRental.ViewModels.DeleteCustomerViewModel

@{
    ViewData["Title"] = "Ta bort användare";
    ViewData["BackAction"] = "Index";
    ViewData["DeleteAction"] = "Delete";
    ViewData["ItemId"] = Model.UserId;

    var details = new Dictionary<string, object>
    {
        { "Förnamn", Model.FirstName },
        { "Efternamn", Model.LastName },
        { "Telefonnummer", Model.Phone },
        { "E-post", Model.Email },
        { "Kundnr", Model.UserId },
    };
}

<div class="container col-md-6">
    @Html.Partial("_DeleteCard", details)
</div>
