@model FribergCarRental.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ForgotPassword</h1>

<div class="container login-card">
    <form asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-4">
            <label for="Login" class="form-label">Användare eller Epostadress</label>
            <input asp-for="User" class="form-control w-100" id="username" placeholder="Email eller Användarnamn">
            <span asp-validation-for="User" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Skicka</button>
    </form>
</div>

<a href="/Account/Login">Tillbaka till inloggning</a>
<div>@ViewBag.ShowPassword</div>
