@model FribergCarRental.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="container login-card">
    <div class="row">
        <div>
            <h4 class="text-center">Ange E-post för att visa lösenord</h4>
        </div>
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-4">
                <label for="Email" class="form-label">Epostadress</label>
                <input asp-for="Email" class="form-control w-100" id="username" type="email" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>
            <div>@ViewBag.ShowPassword</div>
            <div class="d-flex justify-content-between mt-4">
                <a asp-action="Login" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Tillbaka
                </a>
                <button type="submit" class="btn btn-primary">
                    Skicka
                </button>
            </div>
        </form>
    </div>
</div>



