@model FribergCarRental.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ForgotPassword</h1>

<div class="container login-card">
    <form asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-4">
            <label for="Email" class="form-label">Epostadress</label>
            <input asp-for="Email" class="form-control w-100" id="username" type="email" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
            
        </div>
        <button type="submit" class="btn btn-primary">Skicka</button>
        <div>@ViewBag.ShowPassword</div>
        <p><a href="/Account/Login">Tillbaka till inloggning</a></p>
    </form>
</div>



