@model FribergCarRental.ViewModels.SelectDatesViewModel

@{
    ViewData["Title"] = "SelectDates";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg rounded-3">
                <div class="card-body p-4">
                    <h5 class="card-title text-center mb-4">
                        Välj datum för att se vilka bilar som finns tillgängliga.
                    </h5>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    <form method="post" asp-controller="Rental" asp-action="SelectDates">
                        <div class="row g-3 mb-4">
                            <div class="col-6">
                                <label asp-for="StartDate" class="form-label">Från och med</label>
                                <input type="date" asp-for="StartDate" class="form-control" value="@Model.StartDate" required />
                            </div>
                            <div class="col-6">
                                <label asp-for="EndDate" class="form-label">Till och med</label>
                                <input type="date" asp-for="EndDate" class="form-control" value="@Model.EndDate" required />
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <a asp-action="Index" asp-controller="Car" class="btn btn-secondary">Tillbaka till bilar</a>
                            <input type="submit" value="Visa tillgängliga bilar" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



