@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <img src="/images/BigLogo.png" class="img-fluid" alt="Responsive image" width="300" height="300" />
</div>
