@model FribergCarRental.Models.Rental

@{
    ViewData["Title"] = "Ta bort bokning";
    ViewData["BackAction"] = "Index";
    ViewData["DeleteAction"] = "Delete";
    ViewData["ItemId"] = Model.Id;

    var details = new Dictionary<string, object>
    {
        { "Status", Model.Status },
        { "Startdatum", Model.RentalStart },
        { "Slutdatum", Model.RentalEnd },
        { "Bil", Model.Car.Model },
        { "Pris per dygn", Model.Car.Price },
    };
}

<div class="container col-md-6">
    @Html.Partial("_DeleteCard", details)
</div>