@model FribergCarRental.ViewModels.RentalRecordViewModel

@{
    ViewData["Title"] = "Bokningsdetaljer";
    ViewData["BackAction"] = "Index";
    ViewData["ItemId"] = Model.Rental.Id;

    var details = new Dictionary<string, object>
    {
        { "Bokningsnr", Model.Rental.Id },
        { "Status", Model.Rental.Status },
        { "Startdatum", Model.Rental.RentalStart },
        { "Slutdatum", Model.Rental.RentalEnd },
        { "Märke", Model.Rental.Car.Model },
        { "Total summa", $"{Model.TotalPrice} SEK" },
    };

    if (Model.Rental.Customer != null)
    {
        details.Add("Förnamn", Model.Rental.Customer.FirstName);
        details.Add("Efternamn", Model.Rental.Customer.LastName);
        details.Add("E-post", Model.Rental.Customer.Email);
        details.Add("Kundnummer", Model.Rental.CustomerId);
    }
}

<div class="container col-md-6">
    @Html.Partial("_DetailsCard", details)
</div>