@model FribergCarRental.Models.Customer
@{
    ViewData["Title"] = "Index";
}

<div class="login-index">
    <div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <a href="/images/BigLogo.png"><img src="/images/BigLogo.png" class="img-fluid" alt="Responsive image" width="200" height="200" /></a>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">                    
                    <button type="submit" value="Create" class="btn btn-primary">Logga in</button>
                    <br />
                    <p>eller</p>
                    <br>
                    <a asp-action="Create" class="btn btn-primary">Registrera dig</a>

                </div>
            </form>
    </div>
</div>


