@model FribergCarRental.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Index";
}

<form asp-action="Login" method="post">
    <div>
        <label for="Login">Username or Email</label>
        <input asp-for="Login" id="Login" />
        <span asp-validation-for="Login"></span>
    </div>
    <div>
        <label for="User.Password">Password</label>
        <input asp-for="User.PassWord" id="Password" type="password" />
        <span asp-validation-for="User.PassWord"></span>
    </div>
    <button type="submit">Login</button>
</form>


